.etch-a-sketch-container{
    display: flex;
    justify-content: center;
}

.grid-container{
    display: flex;
}

.square{
    border: 2px solid black;
    width: 50px;
    height:50px;
}

.grid-container div div:hover, .grid-container div div.active {
    background-color: red;
}